body{
    margin:0px;
}

.flx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

.content{
    height: 180px;
    margin-top: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid green; */
    gap:5px;
    background-color: teal;
    color: gold;
    border-radius: 10px;
}

.id{
    width: 100%;
    text-align: center;
    font-weight: 900;
}

.nme{
    width: 100%;
    text-align: center;
}

.bdy{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

